<div id="about-div">
  <p class="about-p">In trading, nothing is more important than price. It is the only thing that determines whether you are profitable. If you have been trading for a while, you have seen and probably tried dozens of indicators.You may look for famous patterns; descending wedges, head-and-shoulders, bull flags, and rounding tops.. to name a few. Some trading platforms offer signals, which are often 'black boxes' that have multiple inputs that result in some sort of buy or sell alert. Is someone else's complex system going to make you rich or are you just being sold the comfort of having something else be responsible for your money and decisions?
<br /><br />
    We know chart patterns repeat themselves, but how do we find these patterns? You can run scans for price action that resembles famous chart patterns, but these are imprecise. How do we even know our real odds with these widely-accepted patterns? There are some websites that talk about these well-known patterns and give odds of success and price targets, but how often are these metrics calculated and maintained?
 <br /><br />
    TradeViz is a project I built because I grew tired of all the noise and the conventional wisdom regarding what makes a 'good' trade. This site will find you real, historic price action that matches a stock's current price movement and show you the results. No indicators or black boxes. Everything is laid before you for you to judge, allowing you to decide how good the matching historical patterns look. The program also calculates the standard deviation of the matching patterns to give you a good idea of the volatility around expected future performance.
 <br /><br />
    The data backing this site updates every day, so your results will adjust to reflect what the market is giving away. Great traders say the most important thing is to allow your winners to run, and cut your losers. You do not need all of the complicated indicators and overfitted systems that don't adapt to an ever-changing environment. You need real, actual price action that has made people fortunes that you can take advantage of and tilt the odds in your favor.
    <br />
    <p style="text-align: center"> Trade price - in the end, nothing else matters.</p>
    <p style="text-align: center;font-size: 12px"><a href='http://www.tradeviz.com' id="about-link">Back</a> | <a href='http://www.stevecasella.com' target="_blank" id="about-link">stevecasella.com</a></p>
  </p>
</div>
