body {
  background: url('/assets/bg.jpg') no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  text-shadow: 0px 0px 1px #1F1F1F;
}
#logo {
  position: absolute;
  margin-top: 25px;
  margin-left: 20px;
  width: 175px;
  height: 60px
}
#home-outline {
  margin: auto;
  padding: 30px;
  padding-top: 18px;
  padding-bottom: 25px;
  width: 25%;
  border: 1px solid #BBBBBB;
  border-radius: 15px;
  text-align: center;
  margin-top: 52px;
  min-width: 300px
}
#b-home {
  position: relative;
  width: 60px;
  height: 60px;
  top: 19px;
  background: url('/assets/button.png') no-repeat scroll 0 0 transparent;
  background-size: 100%;
  border: 0px;
  transition: background 0.8s;
}
#b-home:hover {
  width: 60px;
  height: 60px;
  background: url('/assets/button-hover.png') no-repeat scroll 0 0 transparent;
  background-size: 100%;
  border: 0px
}

#field-div {
  display: inline-block;
  background: url('/assets/field-home.png') no-repeat 0 0 transparent;
  background-position: left center;
  background-size: 160px 70px;
  width:175px;
  height:70px;
}
#field-home {
  height:45px;
  color: #E7ECEA;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  outline: none;
  border: none;
  background:transparent;
  margin-right: 5px;
  margin-top: 11px;
  width:140px;/*full width - grey on the side - 2*10px padding*/
  text-transform: uppercase;
}
#home-subtitle {
  margin-top: 5px;
  color: #E7ECEA;
  font-size: 10px
}
#home-text {
  margin: auto;
  width: 70%;
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  font-size: 22px;
  left: 0;
  right: 0;
  color: #E7ECEA;
  text-align: center;
  font-weight: medium;
  letter-spacing: 2px;
  vertical-align: center;
  overflow: auto;
}
#bottom-links {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0.5%;
}
.link {
  font-weight: lighter;
  font-size: 11px;
}
#preloader {
  margin-top: 75px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  left: 0;
  right: 0;
}
table {
  margin-top: 75px;
  position: relative;
  width: 100%;
  text-align:center
}
tr {
  align: center;
  text-align: center;
  color: white
}
#chart1, #chart2, #chart3  {
  width: 350px;
  height: 240px;
  margin: 0 auto;
  margin-top: -25px;
}
#chart1F, #chart2F, #chart3F  {
  //margin-top: -5px;
  width: 300px;
  margin: 0 auto;
}
#pl-p {
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: medium;
  margin-bottom: 10px;
}
#star {
  display: inline;
  height: 15px;
  margin-right: 3px;
  margin-top: -1px
}
#sharpe {
  display: inline;
  font-family: 'Roboto', sans-serif;
  color: '#E7ECEA';
  font-size: 10px;
}
#info-div {
  padding-top: 10px;
  background: url('/assets/resultsBox.png') no-repeat 0 0 transparent;
  background-position: center center;
  background-size: 150px 75px;
  height: 75px;
  width: 150px;
  margin: 0 auto;
  margin-top: 20px;
}
.green {
  color: #00B233
}
.red {
  color: #FF0000
}
.oneStar {
  height: 15px;
  width: 15px;
}
.twoStars {
  height: 15px;
  width: 30px;
}
.threeStars {
  height: 10px;
  width: 40px;
}
#refresh {
  font-weight: medium;
  font-size: 14px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  left: 0;
  right: 0;
  color: white;
  bottom: 10%;
  z-index: 2;
}
#tdTwo {
  font-family: 'Roboto', sans-serif;
  font-weight: medium;
  width: 225px
}
//#tButton {
//  position:absolute;
//  text-align: center;
//  right: 0%;
//  z-index: 2;
//  margin-top: 5px;
//  visibility: hidden
//}
//.twitter-share-button {
//  visibility: hidden
//}
#namePar {
  display: inline;
  font-size: 10px;
  font-weight: normal;
}
#greenChange {
  display: inline;
  font-size: 16px;
  font-weight: bold;
  color: #00B233
}
#redChange {
  display: inline;
  font-size: 16px;
  font-weight: bold;
  color: #FF0000
}
#quoteDiv {
  display: inline;
  position: absolute;
  top: 20px;
  height: 400px;
  text-align: left;
  color: white;
  margin-right: 20px;
  right: 0%
}
#quotePar {
  text-align: left;
  font-weight: normal;
  color: white
}
#quotePar {
  text-align: left;
  font-weight: normal;
  color: white
}
a,a:link,a:visited,a:active,#quotePar{
  cursor:pointer;
  margin-top: 20%;
  display: inline;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: white
}
a:hover,#quotePar:hover,a.link:hover,#refresh:hover {
  color: #409fb6
}
#home-table {
  margin: 0 auto;
  margin-top: 16px;
  width: 65%;
  height: 200px
}
#tdOne, #tdTw, #tdTh, #hOne, #hTw, #hTh, #hFr {
  text-align: center;
  align: center;
  visibility: hidden;
  margin-top: 10px;
}
#chart1H, #chart2H, #chart3H {
  width: 150px;
  height: 125px;
  margin: 0 auto;
  margin-top: -12px
}
#hFr, #chart4H {
  position: absolute;
  width: 600px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  align: center;
  left: 0;
  right: 0;
  margin-top: -15px;
}

#pl-pH {
  margin: 0 auto;
  font-size: 16px;
  font-weight: bold;
  margin-left: 5px;
  cursor:pointer;
  z-index: 2;
}
#sharpeH {
  font-size: 9px;
  font-weight: bold;
  margin: 0 auto;
  margin-left: 5px;
  margin-top: 2px;
}
#captionH {
  font-size: 9px;
  font-weight: bold;
  margin: 0 auto;
  margin-left: 5px;
}
#about-div {
  margin: 0 auto;
  margin-top: 25px;
  width: 60%;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #FFFFFF;
  text-shadow: 0px 0px 1px #1F1F1F;
  text-align: justify;
}
.about-p {
  text-indent: 40px
}
p#quotePar {
  pointer-events: none;
}
#quoteSearch {
  background-color: black;
  color: white;
  border-width: 0;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  outline: none;
  padding-left: 5px;
  width: 75px;
  height: 30px;
  text-transform: uppercase;
  box-shadow: 0px 0px 2px #141414;
  text-shadow: 0px 0px 2px #FFFFFF;
  vertical-align: bottom;
  margin-top: 10px
}
#quoteB {
  position: relative;
  height: 30px;
  width: 30px;
  background: url('/assets/button.png') no-repeat scroll 0 0 transparent;
  background-size: 100%;
  border: 0px;
  //top: 7px;
  margin-left: 8px;
    vertical-align: bottom
}
#quoteB:hover {
  height: 30px;
  width: 30px;
  background: url('/assets/button-hover.png') no-repeat scroll 0 0 transparent;
  background-size: 100%;
  border: 0px;
  vertical-align: bottom
  //top: 7px
}
#searchQuote {
  text-align: center;
}
.dropbtn {
    display: inline;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    color: #e7ecea;
    font-size: 12px;
    border: none;
    cursor: pointer;
    width: 80px;
    height: 35px;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid #25282c;
    margin-top: 15px;
    padding: 0;
    transition: background-color 0.25s;
    outline: none;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: block;
    margin: auto;
    right: 0%;
    text-align: center;
    z-index: 12
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    background-color: #25282c;
    width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    height: 350px;
    overflow-y: scroll;
    margin: 0 auto;
    text-align: center;
    border-radius: 8px;
}
/* Links inside the dropdown */
.dropdown-content a {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: medium;
    font-size: 12px;
    color: #409fb6;
    padding: 5px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #25282c;
}
#button-div {
  display: block;
  align: center;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  margin-top: 20px
}
.toggleBtn {
  background-color: transparent;
  //#25282c
  border: 1px solid #25282c;
  color: #FFFFFF;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  padding: 2px;
  transition: background-color 0.25s;
  font-weight: bold;
  color: #e7ecea;
  outline: none;
}
.toggleBtn:hover {
  background-color: #25282c;
  border: 1px solid #25282c;
  color: #FFFFFF;
  border-radius: 5px;
  height: 30px;
  width: 100px;
}
#bullBear {
  display: block;
  position: relative;
  right: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 20px;
  color: #70cfe6;
  margin-top: 15px;
  text-shadow: none;
  letter-spacing: 1px;
}
.popover {
    width: 450px
}
.popover-title {
  display: none
}
.popover-content {
  text-align: center;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  background: #25282c;
  border-radius: 4px
}
#popOverDiv {
  margin-top: 125px
}
