body {
  background: url('/assets/bg.jpg') no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  text-shadow: 0px 0px 1px #1F1F1F;
}
#logo {
  position: absolute;
  margin-top: 22px;
  padding-left: 15px;
}
#home-outline {
  margin: auto;
  padding: 30px;
  padding-top: 18px;
  padding-bottom: 25px;
  width: 25%;
  border: 1px solid #BBBBBB;
  border-radius: 15px;
  text-align: center;
  margin-top: 52px;
  min-width: 300px
}
#b-home {
  position: relative;
  width: 60px;
  height: 60px;
  top: 19px;
  background: url('/assets/button.png') no-repeat scroll 0 0 transparent;
  background-size: 100%;
  border: 0px
}
#b-home:hover {
  width: 60px;
  height: 60px;
  background: url('/assets/button-hover.png') no-repeat scroll 0 0 transparent;
  background-size: 100%;
  border: 0px
}

#field-div {
  display: inline-block;
  background: url('/assets/field-home.png') no-repeat 0 0 transparent;
  background-position: left center;
  background-size: 160px 70px;
  width:175px;
  height:70px;
}
#field-home {
  height:45px;
  color: #E7ECEA;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  outline: none;
  border: none;
  background:transparent;
  margin-right: 5px;
  margin-top: 11px;
  width:140px;/*full width - grey on the side - 2*10px padding*/
  text-transform: uppercase;
}
#home-subtitle {
  margin-top: 5px;
  color: #E7ECEA;
  font-size: 10px
}
#home-text {
  margin: auto;
  width: 75%;
  display: block;
  height: 65px;
  margin-top: 48px;
  min-width: 275px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  font-size: 22px;
  color: #E7ECEA;
  text-align: center;
  font-weight: medium;
   letter-spacing: 2px;
}
#bottom-links {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 1%;
}
.link {
  font-weight: lighter;
  font-size: 11px;
}
#preloader {
  margin-top: 75px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  left: 0;
  right: 0;
}
table {
  margin-top: 75px;
  position: relative;
  width: 100%;
  text-align:center
}
tr {
  align: center;
  text-align: center;
  color: white
}
#chart1, #chart2, #chart3  {
  width: 350px;
  margin: 0 auto;
  margin-top: -25px;
}
#chart1F, #chart2F, #chart3F  {
  margin-top: -5px;
  width: 300px;
  margin: 0 auto;
}
#pl-p {
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: medium;
  margin-bottom: 10px;
}
#star {
  display: inline;
  height: 15px;
  margin-right: 3px;
  margin-top: -1px
}
#sharpe {
  display: inline;
  font-family: 'Roboto', sans-serif;
  color: '#E7ECEA';
  font-size: 10px;
}
#info-div {
  padding-top: 10px;
  background: url('/assets/resultsBox.png') no-repeat 0 0 transparent;
  background-position: center center;
  background-size: 150px 75px;
  height: 75px;
  width: 150px;
  margin: 0 auto;
  margin-top: 20px;
}
.green {
  color: #00B233
}
.red {
  color: #FF0000
}
.oneStar {
  height: 15px;
  width: 15px;
}
.twoStars {
  height: 15px;
  width: 30px;
}
.threeStars {
  height: 10px;
  width: 40px;
}
#refresh {
  font-weight: medium;
  font-size: 14px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  left: 0;
  right: 0;
  color: white;
  bottom: 10%;
  z-index: 2;
}
#tdTwo {
  font-family: 'Roboto', sans-serif;
  font-weight: medium;
  width: 225px
}
//#tButton {
//  position:absolute;
//  text-align: center;
//  right: 0%;
//  z-index: 2;
//  margin-top: 5px;
//  visibility: hidden
//}
//.twitter-share-button {
//  visibility: hidden
//}
#namePar {
  display: inline;
  font-size: 10px;
  font-weight: normal;
}
#greenChange {
  display: inline;
  font-size: 16px;
  font-weight: bold;
  color: #00B233
}
#redChange {
  display: inline;
  font-size: 16px;
  font-weight: bold;
  color: #FF0000
}
#quoteDiv {
  display: inline;
  position: absolute;
  top: 20px;
  height: 400px;
  text-align: left;
  color: white;
  margin-right: 20px;
  right: 0%
}
#quotePar {
  text-align: left;
  font-weight: normal;
  color: white
}
#quotePar {
  text-align: left;
  font-weight: normal;
  color: white
}
a,a:link,a:visited,a:active,#quotePar{
  cursor:pointer;
  margin-top: 20%;
  display: inline;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: white
}
a:hover,#quotePar:hover,a.link:hover,#refresh:hover {
  color: #409fb6
}
#home-table {
  margin: 0 auto;
  margin-top: 65px;
  width: 65%
}
#tdOne, #tdTw, #tdTh, #hOne, #hTw, #hTh {
  text-align: center;
  align: center;
  visibility: hidden;
}
#chart1H, #chart2H, #chart3H {
  width: 150px;
  height: 125px;
  margin: 0 auto;
  margin-top: 62px;
}
#pl-pH {
  margin: 0 auto;
  font-size: 16px;
  font-weight: bold;
  margin-left: 5px;
  cursor:pointer;
  z-index: 2;
}
#sharpeH {
  font-size: 9px;
  font-weight: bold;
  margin: 0 auto;
  margin-left: 5px;
  margin-top: 2px;
}
#captionH {
  font-size: 9px;
  font-weight: bold;
  margin: 0 auto;
  margin-left: 5px;
}
#about-div {
  margin: 0 auto;
  margin-top: 25px;
  width: 60%;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #FFFFFF;
  text-shadow: 0px 0px 1px #1F1F1F;
  text-align: justify;
}
.about-p {
  text-indent: 40px
}
p#quotePar {
  pointer-events: none;
}
#quoteSearch {
  background-color: black;
  color: white;
  border-width: 0;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  outline: none;
  padding-left: 5px;
  width: 75px;
  height: 30px;
  text-transform: uppercase;
  box-shadow: 0px 0px 2px #141414;
  text-shadow: 0px 0px 2px #FFFFFF;
  vertical-align: bottom
}
#quoteB {
  position: relative;
  height: 30px;
  width: 30px;
  background: url('/assets/button.png') no-repeat scroll 0 0 transparent;
  background-size: 100%;
  border: 0px;
  //top: 7px;
  margin-left: 5px;
    vertical-align: bottom
}
#quoteB:hover {
  height: 30px;
  width: 30px;
  background: url('/assets/button-hover.png') no-repeat scroll 0 0 transparent;
  background-size: 100%;
  border: 0px;
    vertical-align: bottom
  //top: 7px
}
#searchQuote {
  text-align: right;
}
