body {
  background: url('/assets/bg.jpg') no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}
#logo {
  padding-top: 25px;
  padding-left: 20px;
  height: 85px;
  width: 165px
}
#home-outline {
  margin: auto;
  padding: 30px;
  padding-top: 18px;
  padding-bottom: 25px;
  width: 25%;
  border: 1px solid #BBBBBB;
  border-radius: 15px;
  text-align: center;
  margin-top: 55px;
  min-width: 300px
}
#b-home {
  position: relative;
  width: 60px;
  height: 60px;
  top: 20px;
  background: url('/assets/button.png') no-repeat scroll 0 0 transparent;
  background-size: 100%;
  border: 0px
}
#b-home:hover {
  width: 60px;
  height: 60px;
  background: url('/assets/button-hover.png') no-repeat scroll 0 0 transparent;
  background-size: 100%;
  border: 0px
}

#field-div {
  display: inline-block;
  background: url('/assets/field-home.png') no-repeat 0 0 transparent;
  background-position: left center;
  background-size: 160px 70px;
  width:175px;
  height:70px;
}
#field-home {
  height:45px;
  color: #E7ECEA;
  text-align: center;
  font-size: 28px;
  font-weight: medium;
  outline: none;
  border: none;
  background:transparent;
  margin-right: 12px;
  margin-top: 11px;
  width:140px;/*full width - grey on the side - 2*10px padding*/
  text-transform: uppercase;
}
#home-subtitle {
  margin-top: 5px;
  color: #E7ECEA;
  font-size: 10px
}
#home-text {
  margin: auto;
  width: 75%;
  display: block;
  height: 65px;
  margin-top: 50px;
  min-width: 275px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  font-size: 20px;
  color: #E7ECEA;
  text-align: center;
  font-weight: normal;
   letter-spacing: 2px;
}
#bottom-links {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 1%;
}
.link {
  font-weight: normal;
  font-size: 10px;
}
#preloader {
  margin-top: 75px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  left: 0;
  right: 0;
}
table {
  margin-top: 75px;
  position: relative;
  width: 100%;
}
tr {
  align: center;
  text-align: center;
  color: white
}
#chart1, #chart2, #chart3  {
  width: 350px;
  margin: 0 auto;
  margin-top: -45px;
}
#chart1F, #chart2F, #chart3F  {
  margin-top: -5px;
  width: 300px;
  margin: 0 auto;
}
#pl-p {
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: medium;
  margin-bottom: 10px;
}
#star {
  display: inline;
  height: 15px;
  margin-right: 3px;
  margin-top: -1px
}
#sharpe {
  display: inline;
  font-family: 'Roboto', sans-serif;
  color: '#E7ECEA';
  font-size: 10px;
}
#info-div {
  padding-top: 10px;
  background: url('/assets/field-home.png') no-repeat 0 0 transparent;
  background-position: center center;
  background-size: 150px 75px;
  height: 75px;
  width: 150px;
  margin: 0 auto;
  margin-top: 20px;
}
/*#pl-p {
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: medium;
  line-height: 43px;
  width: 100px;
  height: 100px;
  background: url('/assets/field-home.png') no-repeat 0 0 transparent;
  background-size: 100px, 100px;
}*/
.green {
  color: #00B233
}
.red {
  color: #FF0000
}
.oneStar {
  height: 15px;
  width: 15px;
}
.twoStars {
  height: 15px;
  width: 25px;
}
.threeStars {
  height: 15px;
  width: 40px;
}
#refresh {
  font-weight: medium;
  font-size: 16px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  left: 0;
  right: 0;
  color: white;
  bottom: 7%;
  z-index: 2;
}
#dButton {
  position: absolute;
  right: 1%;
  bottom: 2%;
  visibility: hidden;
  z-index: 2
}
#quoteTable {
  margin: 0 auto;
  width: 750px;
  margin-top: -50px
}
#tdTwo {
  font-family: 'Roboto', sans-serif;
  font-weight: medium;
  width: 225px
}
#tButton {
  position:absolute;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 8%;
  z-index: 2;
}
#namePar {
  display: inline;
  font-size: 10px;
  font-weight: normal;
}
#greenChange {
  display: inline;
  font-size: 14px;
  font-weight: bold;
  color: #00B233
}
#redChange {
  display: inline;
  font-size: 14px;
  font-weight: bold;
  color: #FF0000
}
#quoteDiv {
  display: inline
}
#quotePar {
  font-size: 14px;
}
a,a:link,a:visited,a:active,#quotePar{
  cursor:pointer;
  margin-top: 20%;
  display: inline;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color:#E7ECEA;
}
a:hover,#quotePar:hover,a.link:hover,#refresh:hover {
  color: #409fb6
}
